<!DOCTYPE html> 
<html ng-app="app"> 
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Social</title>

	    <link rel="stylesheet"  href="../assets/css/jquery.mobile-1.4.5.min.css" />
	    <script src="../assets/js/jquery.min.js"></script>
	    <script src="../assets/js/jquery.mobile-1.4.5.min.js"></script>  
	    <script src="../assets/js/angular.min.js"></script>
	    <script src="../assets/js/angular-resource.min.js"></script>
	    <script src="js/main.js"></script> 
	    <script src="js/comment.js"></script> 
	</head> 
	<body> 

		<div ng-controller="CommentNewController">
			<div id="comment-add" data-role="page">
				<div data-role="header" data-position="fixed">
					<h1>Novo comentário</h1>
				</div>

			    <div data-role="content">
					<textarea ng-model="comment.texto" placeholder="Digite o texto!"></textarea>

					<button ng-disabled="!comment.post_id || !comment.texto" data-theme="b" data-role="button" ng-click="save()">
				        Salvar
				    </button>      
			    </div>

			    <div data-role="footer" data-position="fixed">
			        <p></p>
			    </div>      
			</div>
		</div>
	</body>
</html>